@model int

<a asp-route-id="@Model" asp-action="Edit" class="btn btn-primary btn-icon">
    <span class="nc-icon nc-refresh-69"></span>
</a>
<a asp-route-id="@Model" asp-action="Delete" class="btn btn-danger btn-icon">
    <span class="nc-icon nc-simple-remove"></span>
</a>