<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - BlogOn</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/client/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="~/assets/client/css/blog.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" asp-action="Index" asp-controller="Home">BlogOn</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a style="border-radius: 0" class="btn btn-secondary" href="javascript: $('#logout').submit()">Logout</a>
                        <form asp-antiforgery="true" id="logout" action="@Url.Action("Logout", "Account", new { area = "" })" method="post"></form>
                    }
                    else
                    {
                        <a style="border-radius: 0" class="btn btn-secondary" asp-action="Login" asp-controller="Account">Sign In</a>
                    }
                </div>
            </div>
        </header>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                @RenderBody()

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3">
                    <h4>Search</h4>
                    <form method="get" asp-action="Index" asp-controller="Search">
                        <div class="form-group">
                            <input name="keyword" placeholder="Keyword" style="border-radius: 0" class="form-control" autocomplete="off">
                        </div>
                    </form>
                </div>

                <div class="p-3">
                    <h4>Categories</h4>
                    @await Component.InvokeAsync("CategoryList")
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
        © BlogOn
    </footer>
    <script src="~/assets/client/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/client/vendor/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

