@model IEnumerable<BlogOn.Models.Category>

<ol class="list-unstyled mb-0">
    @foreach (var item in Model)
    {
        <li><a asp-action="Category" asp-controller="Search" asp-route-id="@item.ID" asp-route-slug="@item.Slug">@Html.DisplayFor(model => item.Name)</a></li>
    }
</ol>
